# Pandas Demo

### Standard imports

In [11]:
import pandas as pd

### Reading data into a dataframe

In [12]:
df = pd.read_csv('../DATA/airport_boardings.csv', thousands=',', index_col=1)
df.head()

,Airport,2001 Rank,2001 Total,2010 Rank,2010 Total,2011 Rank,Total,Percent change 2001-2011,Percent change 2010-2011
Code,,,,,,,,,
ATL,"Atlanta, GA (Hartsfield-Jackson Atlanta Intern...",1,36384264,1,42655392,1,33034788,-9.2,-22.6
ORD,"Chicago, IL (Chicago O'Hare International)",2,28626694,2,30033313,2,22367052,-21.9,-25.5
DFW,"Dallas, TX (Dallas/Fort Worth International)",3,25198256,3,26785739,3,20430281,-18.9,-23.7
DEN,"Denver, CO (Denver International)",6,16397390,4,24965553,4,19190341,17.0,-23.1
LAX,"Los Angeles, CA (Los Angeles International)",4,22873307,5,22860849,5,18379418,-19.6,-19.6

### Using .describe() for a data overview

In [13]:
df.describe()

,2001 Rank,2001 Total,2010 Rank,2010 Total,2011 Rank,Total,Percent change 2001-2011,Percent change 2010-2011
count,50.000000,5.000000e+01,50.000000,5.000000e+01,50.00000,5.000000e+01,50.00000,50.000000
mean,26.460000,9.848488e+06,25.580000,1.116481e+07,25.50000,8.558513e+06,-12.67800,-23.758000
std,15.761242,7.042127e+06,14.708168,8.211195e+06,14.57738,6.348691e+06,21.79989,2.435963
min,1.000000,2.503843e+06,1.000000,3.610618e+06,1.00000,2.750105e+06,-65.00000,-32.200000
25%,13.250000,4.708718e+06,13.250000,4.418210e+06,13.25000,3.300611e+06,-22.42500,-25.275000
50%,26.500000,7.626439e+06,25.500000,8.550299e+06,25.50000,6.716353e+06,-14.30000,-23.650000
75%,38.750000,1.282468e+07,37.750000,1.548108e+07,37.75000,1.195822e+07,-4.60000,-22.075000
max,59.000000,3.638426e+07,51.000000,4.265539e+07,50.00000,3.303479e+07,41.40000,-19.500000

### using .info() to get data use details

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, ATL to IND
Data columns (total 9 columns):
Airport                     50 non-null object
2001 Rank                   50 non-null int64
2001 Total                  50 non-null int64
2010 Rank                   50 non-null int64
2010 Total                  50 non-null int64
2011 Rank                   50 non-null int64
 Total                      50 non-null int64
Percent change 2001-2011    50 non-null float64
Percent change 2010-2011    50 non-null float64
dtypes: float64(2), int64(6), object(1)
memory usage: 3.9+ KB

### Getting real memory use

In [15]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, ATL to IND
Data columns (total 9 columns):
Airport                     50 non-null object
2001 Rank                   50 non-null int64
2001 Total                  50 non-null int64
2010 Rank                   50 non-null int64
2010 Total                  50 non-null int64
2011 Rank                   50 non-null int64
 Total                      50 non-null int64
Percent change 2001-2011    50 non-null float64
Percent change 2010-2011    50 non-null float64
dtypes: float64(2), int64(6), object(1)
memory usage: 10.9 KB

<!-- TODO: add summarizing columns, pivot, groupby, hierarchical, etc. -->

#### more to come....
<!-- TODO: add summarizing columns/rows, pivot, groupby, multiindexing, boolean masking -->